*{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 48px;
}

body{
    background: #E5E5E5;
}

main{
    display: flex;

}
.logo{
    margin: 20px;
}

.input-texto {
    margin: 0 120px;
    top: 10px;
	position: relative;
	text-align: center;
	resize: none;
    border-radius: 32px;
	display: inline-block;
}
.caixa-texto{
    position: absolute;
	width: 400px;
	height: 600px;
	left: 700px;
	top: 40px;
	border-radius: 32px;
	margin-left: 200px;
	text-align: center;
	resize: none;
    
    background-image: url("imagens/desenho.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

.caixa h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    position: relative;
    left: 120px;
    top: 400px;
    text-align: center;
}
.caixa h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    position: absolute;
    text-align: center;
    left: 990px;
    top: 560px;

}

.botoes{
    display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 50px;
	gap: 8px;
	margin: 0 80px;
}

.copiar {
    line-height: 20px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	width: 180px;
    height: 80px;
	left: 73%;
	top: 680px;
    margin: 20px;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
}
.copiar:hover {
 background-color: #668fc4;
}
.encriptar{
    width: 230px;
    height: 80px;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
}
.encriptar:hover {
 background-color: #a4b5cb;
}
.desencriptar{
    width: 230px;
    height: 80px;
    background-color: #D8DFE8;
    border-radius: 24px;
    margin-left: 30px;
    color: #0A3871;
}
.desencriptar:hover {
 background:#668fc4;
}

.info{
    position: absolute;
    text-align: center;
    left: 130px;
    top: 590px;
    margin-right: 1rem;
    color: #495057;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.rodape{
    position: absolute;
    text-align: center;
    left: 500px;
    top: 1100px;
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
    
    
}

@media screen and (max-width: 740px){
	.logo, .encriptar, .desencriptar,.info, .desenho{ 

		width: auto;
	}
	

	.input-texto{
		width: 60%;

		
	}
	.caixa-texto{
		width: 80%;
		position: absolute;
		margin: 0 30px;
	}

	.copiar{
		margin: 0 10px;
		left: 800px;
		top: 700px;
		position: absolute;
		
	}
	.caixa h2{
		text-align: center;
		left: 830px;
		top: 460px;
		position: absolute;
        font-size: 20px;
	}
	.caixa h3{
		position: absolute;
		left: 830px;
		top: 550px;
		text-align: center;
        font-size: 15px;

	}
	.rodape{
		left: 100%;
		position: relative;
		display: flex;
		font-size: 80%;
	}
}
